.positionHandlerContainer {
  position: absolute;
  font-size: 12;
  pointer-events: all;
}

.positionHandlerEventContainer {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.positionHandlerEventContainer.active {
  width: 500px;
  height: 500px;
}

.positionHandler {
  width: 10px;
  height: 10px;
  background: #fff319;
  border: 1px solid #ddd41d;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
  padding: 0;
}

.positionHandler:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}
